* {
  text-align: center;
  background-color: #252A41;
  color: white;
  /* font-size: calc(10px + 2vmin); */
}

.App{
  display: grid;
  grid-column-gap: 10px;
align-content: stretch;
grid-auto-flow: column;
}

.App-welcomeSection{
  grid-column: 1;
  border: 2px solid white;
}

.App-resultSection {
  grid-column: 2;
  border: 2px solid white;
  height: 70vw;
}

.App-nav {
  width: 50px;
  border: 2px solid white;
  padding: 10px;
  margin: 20px;
  grid-template-columns: 5%;
}

.App-header {
  /* align-items: left;
  justify-content: left; */
}


.App-searchBar{
  width: 600px;
  align-self: center;
  border: 2px solid white;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.App-projects {
  border: 2px solid white;
  width: 70vw;
  height: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

